<h1>مشاهده اشخاص</h1>

<mat-form-field>
    <mat-label>جستجو</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="table-responsive">
    <mat-progress-bar mode="indeterminate" *ngIf="isSeraching"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource">

        <!-- DisplayName Column -->
        <ng-container matColumnDef="DisplayName">
            <th mat-header-cell *matHeaderCellDef> نام و نام خانوادگی </th>
            <td mat-cell *matCellDef="let element"> {{element.DisplayName}} </td>
        </ng-container>

        <!-- MobilePhone Column -->
        <ng-container matColumnDef="MobilePhone">
            <th mat-header-cell *matHeaderCellDef> تلفن همراه </th>
            <td mat-cell *matCellDef="let element" style="direction: ltr; text-align: right;"> {{element.MobilePhone}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> ایمیل </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" color="primary"></mat-paginator>
</div>